<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome to Mister site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>

<body style="background-image: url({%static 'images/bg.png'%});">
    <div class="flex">
        <h1>Welcome to Mister site</h1>

    </div>
</body>

</html>